.DS_Store
.env
.flaskenv
*.pyc
*.pyo
env/
myenv/
env*
dist/
build/
*.egg
*.egg-info/
_mailinglist
.tox/
.cache/
.pytest_cache/
.idea/
docs/_build/
.vscode

# Coverage reports
htmlcov/
.coverage
.coverage.*
*,cover

# log file
logs/

# database file
app.db
migrations/
